@import './config';

main {
	height: 100vh;
	width: 100vw;
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	color: #333;
	transition: all 1s ease-in-out;
	
  .pokemon {
		color: #333;
    margin-bottom: 1em;
		transition: all 1s ease-in-out;
  }
	
	button {
		padding: 0.5em 1em;
    margin-left: 1em;
    color: aliceblue;
    background-color: green;
    border: none;
    border-radius: 1em;
		transition: all 1s ease-in-out;
	}
}

